---
layout: layouts/base.njk
title: "Next-Generation Customer Displays for Banks, Retail & Hotels | ID24"
description: "ID24 offers a broad portfolio of software for improving form-filling and customer interactions — built around our patented Duo Input technology. For banks, retail chains and hotels. No system changes required."
permalink: /banking/
eleventyNavigation:
  key: banking
  order: 3
lang: en
---

{% include "partials/main/header.njk" %}

