---
layout: layouts/base.njk
title: "Next-Generation Customer Displays for Banks, Retail & Hotels | ID24"
description: "ID24 offers a broad portfolio of software for improving form-filling and customer interactions — built around our patented Duo Input technology. For banks, retail chains and hotels. No system changes required."
permalink: /dual-input/
eleventyNavigation:
  key: Dual Input
  order: 1
lang: en
---


{% include "partials/header.njk" %}

{% include "partials/hero.njk" %}
{% include "partials/stat-bar.njk" %}
{% include "partials/duo-input-image.njk" %}
{% include "partials/market-tabs.njk" %}
{% set text = "UNLOCK YOUR TRUE CRM VALUE" %}
{% include "partials/crm-section.njk" %}
{% include "partials/pillars-section.njk"%}
{% set text = "PRODUCTS & SOFTWARE" %}
{% include "partials/products-section.njk" %}
{% include "partials/hardware-section.njk" %}
{% include "partials/patents-section.njk" %}
{% include "partials/fraud-section.njk" %}
{% include "partials/faq-section.njk" %}
{% include "partials/awards-section.njk" %}
{% include "partials/pilot-section.njk" %}
{% include "partials/footer.njk" %}